{% extends 'base.html' %}

{% block content %}
  <div id="main_posts_view">
    <h4 class="center">Your Surveys:</h4>
    <div class="divider"></div>
    {% include 'surveys_template.html' %}
  </div>
  <div id = "create_post_btn" class="fixed-action-btn">
    <a id="new_post_a" class="btn-floating btn-large red hoverable" href="javascript:void(0)">
      <i id = "create_post_icon" class="large material-icons">poll</i>
    </a>
    <ul>
      <!-- <li><a class="btn-floating red"><i class="material-icons">mode_edit</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li> -->
    </ul>
  </div>

{% endblock %}
