body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

footer {
	text-align:center;
	color: rgb(41,44,47);
	background: #ffc107;
	margin-top: 20px;
	padding-top: 15px;
	padding-bottom:5px
}

.main_block {
	margin-left: 2.5%;
}

.user-dropdown{
	font-size:0 !important;
}

.dropdown-menu {
	display: none;
}

.dropdown-menu li {
	opacity: 0.7;
}

.dropdown:hover .dropdown-menu {
	display: block;
	cursor:pointer;
	position: absolute;
	right: 0px;
	z-index: 9999;
}
.dropdown-menu a{
	width:150px;
}

.dropdown-menu i{
	font-size: 20px !important;
}

.surveys-list-main{
	max-width:650px;
	margin:auto;
	padding:15px;
}

.survey-content{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

.survey-card-actions{
	/* padding: 0 !important; */
}

.survey-card-actions i{
	margin: auto !important;
	width: 12%;
}
.expand-icon{
	/* position:absolute !important; */
	margin:0 !important;
	padding:0 !important;
}

#main_surveys_view{
	background-color: rgba(255,255,255,0.5) !important;
}

.navigation-bar a, .page-footer p{
	color:#006400 !important;
}

.survey-info{
	margin: 7px;
	font-size:.75em !important;
}

.survey-info i{
	font-size: 1.4rem !important;
}

.icon-text{
	line-height:28px;
	margin:0 ;
	padding: 0;
}

.survey-header i{
	font-size: 2.1rem !important;
}

.txt-icon{
	display: inline-flex;
  vertical-align: top;
	margin-left: 2px !important;
	margin-right: 5px !important;
	padding: 0 !important;
}

.state-info i{
	/* color: darkgrey !important; */
}

.create_survey-btn{
	z-index:100;
}

.new_survey_container{
	/* blurry background effect*/
	position: absolute;
	display:none;
	width: 100%;
	height: 100%;
	top:0; bottom: 0;
	left:0; right: 0;
	background-color: rgba(255,255,255,0.6) !important;
	z-index: 100;
}

#survey-creator-answers-container{
	/* position: fixed; */
	max-height: 60vh;
	overflow-y: auto;
	overflow-x: none;

}

.login-img{
	display: block;
	height: 100% !important;
	width: 100%  !important;
	object-fit:cover;
	margin-top: 20%;

}

.parent-row{
	height: 70vh !important;
	width: 80vw !important;
	display: flex;
	flex-wrap: wrap;
	max-height:720px;

}

#wrap-button{
	display: inline-flex;
}

#first-survey-btn{
	margin-top:25px;
}

.survey-name{
	color:#ffc107;
	text-align: center;
	font-size: 1.5rem !important;
}

.content-section {
  background: #FFFFFF;
  padding: 10px 20px;
  border: 2px solid #dddddd;
  padding-bottom: 2px;
  margin: auto;
	margin-top: 25px;
	margin-bottom: 25px;
  border-radius: 25px;
  width:450px;
}

.btn-primary {
  border-radius: 10px;
}
.form-control{
  border-radius: 10px;
}

.btn-primary:hover {
  color: #FFF;
}

.alert {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.2rem;
  margin-bottom: 16px;
  margin-top: 25px;
  border-width: 2px;
  border-style: solid;
}

.alert-error {
  border-color: darkred;
  background-color: red;
  color: white;
}

.alert-info {
  border-color: orange;
  background-color: yellow;
  color: black;
}

.heading-icon {
  display: inline-flex;
  vertical-align: middle;
  margin-left: 2px;
  margin-right: 5px;
  margin-bottom: 4px;
  padding: 0;
}

.heading-with-icon {
  line-height: 28px;
  margin: 0;
  padding: 0;
}

.question-header-link{
	color: #363739;
	filter: brightness(75%);
	opacity: 0.90;
	border-color: #363739;
}
.question-header-link i{
	color: black;
	text-decoration: none;
}


.card:hover {
  /*transform: scale(1.05);*/
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card.hoverable {
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
}
