body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;

}

footer .container {
	margin-left: 5%;
}

.main_block {
	margin-left: 2.5%;
}

.header-rtext{
	margin-right: 15px;
}

.action-btn-header{
	position:relative;
	margin-top:5px;
}

.header-rbutton{
}

.user-dropdown{
	font-size:0 !important;
}

.dropdown-menu {
	display: none;
}

.dropdown-menu li {
	opacity: 0.7;
}

.dropdown:hover .dropdown-menu {
	display: block;
	cursor:pointer;
	position: absolute;
	right: 0px;
	z-index: 9999;
}
.dropdown-menu a{
	width:150px;
}

.dropdown-menu i{
	font-size: 20px !important;
}

.messages{
	max-width:650px;
	margin:auto;
	padding:15px;
}

.message{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}
.msg-actions{
	padding: 0 !important;
}

.msg-actions i{
	margin: auto !important;
	width: 12%;
}
.expand-icon{
	/* position:absolute !important; */
	margin:0 !important;
	padding:0 !important;
}

#main_posts_view{
	background-color: rgba(255,255,255,0.5) !important;
}

.navigation-bar a, .page-footer p{
	color:#006400 !important;
}

.survey-info{
	margin: 7px;
	font-size:.75em !important;
}

.survey-info i{
	font-size: 1.4rem !important;
}

.icon-text{
	line-height:28px;
	margin:0 ;
	padding: 0;
}

.survey-header i{
	font-size: 2.1rem !important;
}

.txt-icon{
	display: inline-flex;
  vertical-align: top;
	margin-left: 2px !important;
	margin-right: 2px !important;
	padding: 0 !important;
}

.state-info i{
	/* color: darkgrey !important; */
}

.new_post_container{
	position: fixed;
	width: 100%;
	height: 100%;
	top:0; bottom: 0;
	left:0; right: 0;
	display:none;
	background-color: rgba(255,255,255,0.6) !important;
}

#new_post{
	/* display:none; */
	position: fixed;
	width: 50vw;
  height: 70vh;
  position: fixed;
  left: 25vw;top: 15vh;
	align-items: center;

}
#message_card{
	max-width: 650px;
	margin: auto;
	margin-top:50px;

}

.login-img{
	display: block;
	height: 100% !important;
	width: 100%  !important;
	object-fit:cover;
	margin-top: 20%;

}

.parent-row{
	height: 70vh !important;
	width: 80vw !important;
	display: flex;
	flex-wrap: wrap;
	max-height:720px;

}

.post-text{
	color:white;
}
