{% set one_post = posts|length==1%}
{% set is_active = "active" if one_post else ""%}

<div id = "post-results">
  <div class="messages">
    <ul id = "message-list" class="collapsible popout message">
      {% for post in posts %}
          <li class="{{is_active}}">
            {% include 'post_template.html' %}
            {%if responses is not none%}
              <div class="collapsible-body">
                <ul class="collapsible popout message">
                  {% for response in responses %}
                    <li class="collection-item avatar">
                      {% include 'response_template.html' %}
                    </li>
                  {% endfor %}
                </ul>
                <ul
              </div>
            {%endif%}
          </li>
      {% endfor %}
    </ul>
  </div>
<div>
