<div class="collapsible-header hoverable message card teal">
  <div class="message">
    <div class = "card-content">
      <div class = "card-title">
        <div class="metadata">
          <span class="survey-title">
            <a href="{{url_for('main.profile',user_id=survey.user.id)}}" class="black-text">
              <i class="material-icons prefix" style="margin:0;padding:0">poll</i>
              <b>{{ survey.title }}</b>
            </a>
          </span>
          <span class="creator right">
              By {{ survey.user.name }}
          </span>
        </div>
      </div>
      <div class="text">STATE: {{(survey.state._value2member_map_[1]|string)[12:]}}</div>
    </div>
    <div class="card-action msg-actions" style="margin-top:15px;">
      <!-- <a class="btn red hoverable" href="#">
        <i class="material-icons">favorite</i>
      </a> -->
    </div>
  </div>
</div>
