<div
  id="text-question"
  class="card question-item"
  data-type="3">
  <div
    class="card-header"
    role="tab"
    style="background: rgb(253,126,20);margin: -2px;margin-bottom: -2px;">
    <h5
      class="mb-0"
      style="border-color: var(--dark);">
      <a
        href="#accordion-1 .item-{{loop.index}}"
        data-toggle="collapse"
        aria-expanded="false"
        aria-controls="accordion-1 .item-{{loop.index}}"
        style="color: #363739;filter: brightness(75%);opacity: 0.90;border-color: #363739;">
        <i class="material-icons heading-icon">short_text</i>

        {{question.title}}
      </a>

      <a
        href="#"
        style="float: right;color: black;">
        <i
          class="fas fa-chevron-down"
          style="float: right;">
        </i>
      </a>
    </h5>
  </div>

  <div
    class="collapse item-{{loop.index}}"
    role="tabpanel"
    data-parent="#accordion-1">
    <div class="card-body">
      <div class="form-row">
        <div
          class="col-xl-8"
          style="margin-top: 10px;padding-right: 0px;">
          <textarea
            id="textAnswerArea"
            class="form-control"
            placeholder="Add text here"
            style="width: 100%;font-size: 16px;"
            maxlength="250"
            onkeyup="checkTextAreaMax($(this)) ; SetNewSize(this);">
          </textarea>
        </div>
      </div>

      <p
        id="max-chars-input"
        style="font-size: 15px;margin: 5px;">
        Max # of characters allowed:

        <span
          class="textrange"
          style="margin-left: 1%;">
          500
        </span>
      </p>
    </div>
  </div>
</div>
