{% extends "base.html" %}

{% block content %}

  <div class="content-section">
  <div class="media">
    <div class="text-center">
      <img class="rounded-circle account-img" src= {{image}}>
    </div>
  </div>

    <!-- Action = "" it will post the info in the same route we are in -->
    <form method = POST action = "" enctype="multipart/form-data">
      {{ form.hidden_tag() }} <!-- Protects our form from attacks -->
      <fieldset class = "form-group">
          <legend class = "mb-4"></legend>
          <div class = "form-group">
            {{ form.username.label(class= "form-control-label")}}
            {% if form.username.errors %}
                {{ form.username(class= "form-control is-invalid") }}
                <div class = "invalid-feedback">
                  {% for error in form.username.errors %}
                      <span> {{ error }} </span>
                  {% endfor %}
                </div>
            {% else %}
              {{ form.username(class= "form-control") }}
            {% endif %}
          </div>

          <div class = "form-group">
            {{ form.email.label(class= "form-control-label")}}
            {% if form.email.errors %}
                 {{ form.email(class = "form-control is-invalid") }}
                 <div class = "invalid-feedback">
                   {% for error in form.email.errors %}
                      <span> {{ error }} </span>
                   {% endfor %}
                 </div>
            {% else %}
               {{ form.email(class= "form-control") }}
            {% endif %}
          </div>
          <div class = "form-group">
            <div class = "form-group">
              {{ form.profile_picture.label()}}
              {{ form.profile_picture(class = "form-control-file")}}

              {% if form.profile_picture.errors %}
                {% for error in form.profile_picture.errors %}
                   <span class = "text-danger"> {{ error }} </span>
                {% endfor %}
              {% endif %}
            </div>
      </fieldset>
      <div class = "form-group">
        {{ form.submit(class= "btn btn-outlier-info")}}
      </div>
    </form>
  </div>

{% endblock content %}
